# Firebase Configuration (Required for Vercel deployment if firebase-applet-config.json is omitted)
VITE_FIREBASE_API_KEY=AIzaSyAfEYg-9hzE0pk4zV8eu_quVP28PiqDhFo
VITE_FIREBASE_AUTH_DOMAIN=api3-445216.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=api3-445216
VITE_FIREBASE_STORAGE_BUCKET=api3-445216.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=240552183381
VITE_FIREBASE_APP_ID=1:240552183381:web:f28ec685ebed5ecb0e76dc
VITE_FIREBASE_FIRESTORE_DATABASE_ID=ai-studio-bigmastudiomanaj-5d04e664-21c3-4e3f-80a0-84016de086ae
